.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  padding-top: 5px;
  //text-align: center;

  p {
    font-family: 'Fredoka One';
    font-size: 18px;
    color: rgb(104, 99, 99);
    text-align: center;
  }
}


.TopCateBox {
  display: inline-flex;
  justify-content: space-around;
  width: 750px;
  height: 300px;
  flex-wrap: wrap;
  margin: 10px 10px 50px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  p {
    margin-top: 3px;
    font-family: 'Fredoka One';
    color: rgba(0, 0, 0, 0.788);
  }
}


.TopCateButton:hover {
  box-shadow: 0 3px 2px 0 rgba(102, 101, 101, 0.24), 0 3px 2px 0 rgba(102, 101, 101, 0.24);
}

.TopCateButton:focus {
  outline: none;
}

