@import 'resultsPage.scss';
@import 'homePage.scss';


@import 'searchCont.scss';
@import 'resultCard.scss';


body {
  background-color: white;
  
}

a {
  text-decoration: none;
}

.appHeader {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 20px;
  margin-right: 20px;

  // put in NavBar styling here -> add right margin
  
}
// pop up styling

.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}